{% extends "core/base.html" %}
{% block content %}
<style>
    .formulario{
        padding-top: 30%;
        max-width: 50%;
    }
    .container{
    }
    .botao{
        margin-top: 20px;
        font-size: 15pt;
        margin-bottom: 30%;
    }
    .resultado{
        margin: 50px;
        text-align: center;
        font-style: verdana;
    }
</style>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" action="{% url 'portfolio:gym_search' %}" class="formulario">
            </div>      
                {% csrf_token %}
                    {{ form }}
                    <button type="button" class="btn btn-primary btn-lg btn-block botao">Procurar</button>
                </form>
        </div>
    </div>
    {% if not init %}
        {% if no_results %}
            <div class="resultado">
                <h2>Nenhum resultado foi encontrado para sua pesquisa</h2>
            </div>
            
        {% else %}
            <div>
                {% for academia in academias %}
                    <div>{{ academia.owner.first_name }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
